.blog-single{
    .container{
        padding: 202px 0 74px;
    }
    span{
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
    }
    
    .blog-single-content{
        p{
            margin-bottom: 30px;
        }
    }
    .tag-title{
        font-size: 16px;
        line-height: 27px;
    }
    
    .blog-tags{
        padding-top: 21px;
    }
}