$background-info: #ECD9D9;


.info{
    background-color: $background-info;
    padding: 63px 0 60px;
    p{
        font-size: 24px;
        line-height: 25px;
        a{
            color: #1E1E1E;
        } 
    }

}