.lead-section{
    padding: 298px 0 269px;
    background-position: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.lead-section{
    .h1{
        font-size: 60px;
        line-height: 84px;
        letter-spacing: 20px;
    }
}